
.head{
    height: 100vh;
    background-image: linear-gradient(135deg, transparent 80%, hsl(240, 100%, 70%) 80%);
    /* background-image: linear-gradient(transparent 85%, hsl(240, 100%, 70%) 85%); */
}

.head header{
    width: 100%;
    height: 70px;
    padding: 0 20px;

    flex-wrap: nowrap;
    align-items: center;

    overflow: hidden;
}

    /* nav for mobiles */

    .head .nav{
        display: none;

        width: 22px;
        height: 22px;
        margin-right: 20px;

        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .head .nav li{
        height: 4px;

        border-radius: 2px;
        background-color: hsl(240, 20%, 20%);
    }

    /* left side */

    .head .left li{
        cursor: pointer;
        position: relative;

        font-size: 1.8rem;
        line-height: 70px;
        margin-left: 20px;
        padding: 0 10px;
    }

    .head .left li:first-child{
        font-weight: 700;
        margin-left: 0;
    }

    .head .left li.select{
        background-color: hsl(240, 50%, 95%);
    }

    .head .left li::before{
        content: "";
        position: absolute;
        top: 68%;
        left: 10%;

        width: 1px;
        height: 2px;

        background-color: transparent;
        transition: width 200ms ease, background-color 180ms ease-in;
    }

    .head .left li:nth-child(n+2):hover::before,
    .head .left li.select::before{
        width: 80%;
        background-color: hsl(240, 100%, 70%);
        transition: width 400ms ease;
    }

    .head .left .close{
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .head .left .close:hover{
        fill: white;
        background-color: hsl(240, 20%, 20%);
        transition: 200ms ease;
    }

    /* menu window */

    .head .menu{
        width: 100%;
        min-height: 140px;
        padding: 10px;

        position: absolute;
        top: 70px;
        left: 0;
        z-index: 10;

        opacity: 1;
        background-color: hsl(240, 50%, 95%);
        filter: drop-shadow(0 6px 3px hsla(240, 20%, 20%, 0.2));
        transition: 200ms ease;
    }

    .head .menu.hidden{
        padding: 20px 20px 20px 40px;
        opacity: 0;
    }

    .head .close{
        cursor: pointer;
        align-self: flex-start;

        box-sizing: content-box;
        width: 20px;
        height: 20px;
        padding: 3px;

        fill: hsl(240, 20%, 20%);
        border-radius: 5px;

        transition: 200ms ease;
    }

    .head .menu .close:hover{
        fill: white;
        background-color: hsl(240, 100%, 70%);
        transition: 200ms ease;
    }

    .head .menu > div{
        display: flex;
        flex: 1 1 auto;
        width: 100px;
        flex-wrap: wrap;
    }

        .head .menu a.article{
            cursor: pointer;

            display: flex;
            flex: none;
            width: 280px;
            height: auto;
            margin: 10px;
            padding: 15px;

            background-color: hsl(240, 50%, 95%);
            transition: 200ms ease;
            border-radius: 10px;
        }

        .head .menu a.article:hover{
            background-color: hsl(240, 50%, 90%);
        }

        .head .menu .img{
            flex: none;
            width: 50px;
            height: 50px;
            margin-right: 15px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 10px;
            background-color: hsl(240, 20%, 20%);
            filter: drop-shadow(0 0 2px hsla(240, 20%, 20%, 0.2));
        }

            .head .menu .img svg{
                width: 26px;
                height: 26px;

                fill: white;
            }

        .head .menu h3{
            margin-top: 2px;
            font-size: 1.6rem;
            font-weight: 700;
            width: max-content;
        }

        .head .menu a.article:hover h3{
            background-image: linear-gradient(to top, hsl(240, 80%, 80%) 4px, transparent 4px);
        }

        .head .menu p{
            margin-top: 10px;
            line-height: 1.8rem;
            font-size: 1.4rem;
            color: hsl(240, 20%, 50%);
        }

        

/* middle of page with title */

.head main{
    width: auto;
    height: max-content;

    flex: 1 0 auto;
    flex-direction: row;

    font-size: 1rem;
}

    .head main .title{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .head main .title h1{
        font-size: 9.6em;
        font-weight: 700;
    }

    .head main .title p{
        font-size: 4.8em;
        font-weight: 700;
        color: hsl(240, 100%, 70%);
    }

    .head main img{
        flex: 0 1 auto;
        width: 300px;
        margin-left: 30px;
    }

.head footer{
    height: 70px;
}

/* MEDIA */

@media screen and (max-width: 500px),
       screen and (max-height: 500px){

    .head .menu{
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        width: 100vw;

        overflow-y: auto;
    } 
    .head main img{
        width: 220px;
    }
    
}

@media screen and (max-width: 500px){
    .head .nav{
        display: flex;
    }
    .head .left{
        visibility: hidden;
        opacity: 0;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;

        height: 100vh;
        width: 100vw;
        margin: 10px 0 0 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: white;
        transition: opacity 200ms ease, margin 200ms ease, visibility 0ms 200ms;
    }
    .head .left.visible{
        visibility: visible;
        opacity: 1;
        margin: 0;

        transition: opacity 200ms ease, margin 200ms ease;
    }
    .head .left .close{
        display: block;
    }
    .head .left li{
        margin: 0;
    }
    .head .menu{
        padding: 0px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }
        .head .menu > div{
            width: 100%;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            overflow: auto;
        }
        .head .menu .close{
            margin: 20px 20px 20px 0;
            align-self: flex-end;
        }
    .head main{
        flex-direction: column;
        font-size: 0.8rem;
    }
    .head main img{
        margin: 0;
    }
}

@media screen and (max-height: 500px){
    .head header,
    .head footer{
        height: 60px;
        padding: 0 15px;
    }
    .head main{
        font-size: 0.6rem;
    }
}