@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

/*
    COLORS

    hsl(240, 20%, 20%)  - dark purple
    hsl(240, 100%, 70%) - light purple
    hsl(240, 50%, 95%)  - white purple
    hsl(315, 100%, 95%) - pink


*/

:root{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: hsl(240, 20%, 20%);
}

.roboto{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.condensed{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.go-to-top{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 30px;
    height: 30px;

    fill: hsl(0, 0%, 15%);

    background-color: transparent;
    border-radius: 5px;
}

/* structure */

.section{

    width: 100%;
    max-width: 1080px;
    padding: 10vh 5vw;

}
