/* sections */

._vh{
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* grid */

._grid{
    display: grid;
}

._grid.-center{
    justify-content: center;
    align-content: center;
}

._grid > .--center{
    justify-self: center;
    align-self: center;
}
._grid > .--stretch{
    justify-self: stretch;
    align-self: stretch;
}

._grid > .--j-start{
    justify-self: start;
}
._grid > .--j-end{
    justify-self: end;
}

._grid > .--a-start{
    align-self: start;
}
._grid > .--a-end{
    align-self: end;
}

/* flex */

._flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

._flex.-row{
    flex-direction: row;
}

._flex.-center{
    justify-content: center;
    align-items: center;
}

._flex.-j-center{
    justify-content: center;
}

._flex.-j-space{
    justify-content: space-between;
}

._flex.-j-end{
    justify-content: flex-end;
}

._flex.-a-center{
    align-items: center;
}

._flex.-wrap{
    flex-wrap: wrap;
}

._flex.-wrap-reverse{
    flex-wrap: wrap-reverse;
}

._flex > *{
    flex: none;
}

._flex > .--grow{
    flex: 1 0 auto;
}

._flex > .--shrink{
    flex: 0 1 auto;
}

._flex > .--auto{
    flex: 1 1 auto;
}